/* cards.css */
/* --------------------------------------------------------- */
/* css vars --color-primary, --color-secondary, --color-info
/* from JS inline styling in card.js
/* --------------------------------------------------------- */

/* --- Card Styles--- */
.card {
    aspect-ratio: 4 / 5;
    /* margin: 0; */
    max-width: 450px;
    width: 100%;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-grid h3 {
    font-size: 24px;
    color: var(--color-info);
    font-weight: 600;
    margin: 0;
}

.card-grid article {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* Material rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
    /* Material shadow */
    padding: 24px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background: linear-gradient(135deg,
            var(--color-primary) 0%,
            var(--color-secondary) 100%);
}

.card-grid article:hover {
    transform: translateY(-8px);
    /* Lift effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card-grid hgroup {
    margin-bottom: 10px;
}

/* Image container centered both ways */
.poke-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    /* take available space */
    /* margin: 0; */
}

.poke-figure img {
    position: absolute;
    width: 180px;
    height: 180px; 
    object-fit: contain;
    transition: opacity 0.3s ease;
}

/* back image hidden at start */
.poke-figure .back {
  opacity: 0;
  pointer-events: none;        /* prevents hover glitch */
}

/* swap on hover */
.poke-figure:hover .front {
  opacity: 0;
}

.poke-figure:hover .back {
  opacity: 1;
}

/* Footer layout */
.card-grid article footer {
    font-size: 18px;
    font-weight: 500;
}


.card-grid article footer.stats {
    margin-top: auto;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

/* Type list (horizontal pill badges) */
.types-vertical {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.types-vertical li {
    padding: 4px 12px;
    border-radius: 999px;
    text-transform: capitalize;
    color: var(--color-info);
    /*background-color and border set by JS */
    width: fit-content; /* keeps ellipses snug */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s, transform 0.2s;
}

.types-vertical li:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

/* Height & Weight */
.hw {
    display: flex;
    flex-direction: column;
    /* PUT hw to right bottom */
    align-self: flex-end;
    color: var(--color-info);
    margin: 0;
    opacity: 0.9;
}