body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    background-color: #f44336; /* Pokémon red */
    color: white;
}

header img {
    height: 40px;
}

header h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
    flex: 1;
}

header input[type="search"] {
    max-width: 150px;
    height: 32px;
    padding-left: 0.5rem;
    border-radius: 32px;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        margin: 0.5rem 0;
    }

    header input[type="search"] {
        width: 100%;
        max-width: none;
    }
}