@import url("./card.css");
@import url("./paginator.css");
@import url("./modal.css");

:root {
    --bg-dark-base: #222222;
    --bg-dark-surface: #333333;
    --color-text-main: #E0E0E0;
}

body {
    margin: 0;
    background-color: var(--bg-dark-base);
    background-image: url("../assets/media/bg-wood.png");
    /* 1. Verhindert, dass das Bild beim Scrollen mitwächst und hält es fixiert */
    background-attachment: fixed;

    /* 2. Sorgt dafür, dass das gesamte Bild im Viewport sichtbar ist, 
       ohne abgeschnitten zu werden. */
    background-size: contain;

    /* 3. Ermöglicht das Kacheln (Wiederholen), falls das Bild kleiner als der Viewport ist */
    background-repeat: repeat;
    /* Von no-repeat auf repeat geändert */
}

@font-face {
    font-family: "pokemon-hollow";
    src: url("../assets/fonts/pokemon-hollow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pokemon-solid";
    src: url("../assets/fonts/pokemon-solid.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

header {
    /* Sticky header */
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;

    padding: 30px 30px 24px 30px;
    background-color: var(--bg-dark-surface);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: var(--color-text-main);
    margin-bottom: 48px;
}

#title {
    color: var(--color-text-main);
}

header img {
    height: 40px;
}

header h1 {
    font-family: "pokemon-solid";
    font-size: 1.8rem;
    margin: 0 1rem;
    padding-bottom: 0.8rem;
    flex: 1;
}

.header-forms {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 200px;
}

header .btn {
    border-radius: 16px;
    width: 60px;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #d32f2f !important;
}

.page-input {
    margin: 0;
}

/* Pokés per page */
#page-size {
    margin: 0 0 14px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#page-size .input-field { 
  margin-top: 0;
  margin-bottom: 0;   
}

#page-size input {
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    height: 36px;
    width: 85px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 16px;
    background-color: var(--color-text-main);
}

#page-size label {
    padding-left: 12px;
    font-size: 16px;
    /*color: var(--color-text-main);*/
}


.section-search-btn {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 0 0;

}

#input-search {
    font-size: 18px;
    height: 36px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;;
    padding: 0 12px 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: var(--color-text-main);
}

.btn-search::placeholder {
    color: grey;
    font-weight: 400;
}

.pagination {
    margin: 0;
}

main {
    padding: 0 24px;
    box-sizing: border-box;
    text-align: center;
}


/* --- Card Grid --- */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
    align-items: center;
    gap: 45px;
    max-width: 1440px;
    margin: 0 auto;
}

.preloader-wrapper {
    display: block;
    margin: auto auto;
}


@media (max-width: 714px) {
    header {
        flex-direction: column;
        align-items: center;

    }

    header h1 {
        margin: 0.5rem 0;
    }

    header input[type="search"] {
        width: 100%;
        max-width: 200px;
    }

    .logo-title img {
        margin-right: 16px;
    }

    .card-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 45px;
        width: 100%;
    }
}

@media (max-width: 421px) {
    header {
        align-items: center;
    }

    .logo-title img {
        margin-right: 16px;
    }

    /* Target the form container */
    #search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 200px;
        margin-top: 12px;
    }

    /* Target the individual form elements */
    #search>* {
        margin-bottom: 10px;
        margin: 0 0 10px 0 !important;
        width: 100% !important;
        box-sizing: border-box;
    }

    #search>*:last-child {
        margin-bottom: 0 !important;
    }
}