/* --- Modal Style (<dialog>) --- */


.modal {
    display: flex;
    justify-content: left;
    background: none;
    border-image: linear-gradient(hsl(55.25deg 84.16% 30.01% / 61%), hsl(50deg 65.08% 59.41% / 60%)) fill 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 0 0 100vmax rgba(0, 0, 0, .5);
    max-width: 500px;
    font-size: 18px;
    text-align: left;
}


hgroup {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-main);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-poke {
    width: 200px;
}

/* Abilities*/
.card-abilities {
    margin: 0;
    display: flex;
    justify-content: left;
}

.card-abilities dl {
  margin: 0;
  display: flex;
  gap: 0.35rem;
  font-size: 22px;
  color: var(--color-text-main);
}

.card-abilities dt {
  font-weight: 600;
}

.card-abilities dd {
  margin: 0;
  color: var(--color-text-main);
  text-transform: capitalize;
}

.modal footer {
    display: flex;
    justify-content: space-between;
    background: unset!important;
}

.btn-flat {
    color: var(--color-text-main);

}




/* Dialog polyfill/fallback for browsers that don't fully support <dialog> */
.modal:not([open]) {
    display: none;
}