/* --- Modal Style (<dialog>) --- */

.modal {
    background: none;
    border-image: linear-gradient(hsl(55.25deg 84.16% 30.01% / 61%), hsl(50deg 65.08% 59.41% / 60%)) fill 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 0 0 100vmax rgba(0, 0, 0, .5);
    max-width: 400px;
    aspect-ratio: 4/5;
    padding: 0;
}

.modal-content {
    padding: 30px;
}

.modal h2 {
    color: #dedfe7;
    margin-top: 0;
}

.modal-subtitle {
    color: #616161;
    font-size: 1em;
    margin-bottom: 20px;
}

.modal footer {
    margin-top: 20px;
    text-align: right;
    background: unset!important;
}


#modalCloseButton {
    background-color: #3f51b5;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}


/* Dialog polyfill/fallback for browsers that don't fully support <dialog> */
.modal:not([open]) {
    display: none;
}