/* --- Modal Style (<dialog>) --- */

.modal {
    overflow: none;
    width: 80vw !important;
    max-width: 450px;
    max-height: 90vh;
    height: 640px;

    -ms-overflow-style: none;
    /* IE und Edge */
    scrollbar-width: none;
    /* Firefox */

    background: none;
    border-image: linear-gradient(hsl(55.25deg 84.16% 30.01% / 61%), hsl(50deg 65.08% 59.41% / 60%)) fill 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 0 0 100vmax rgba(0, 0, 0, .5);
    font-size: 18px;
}

.modal .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 16px 12px 16px;
}

/* Verbergen für WebKit-Browser (Chrome, Safari, Edge, Opera) */
.modal::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

hgroup {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-main);
}

figure {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

#img-poke {
    width: 200px;
    padding: 0;
}

/* Tabs */
.modal-tabs {
    flex-grow: 1;
}

.tabs {
    background-color: transparent !important;
}

/* 2. Textfarbe für INAKTIVE Tabs (im Normalzustand) */
.tabs .tab a:not(.active) {
    color: rgba(255, 255, 255, 0.7) !important; 
}

.tabs .tab a.active, 
.tabs .tab a:hover {
    color: #E0E0E0 !important;
    background-color: transparent !important; 
}

.tabs .indicator {
    background-color: #E0E0E0 !important;
}

#about {
    margin-top: 12px;
    padding-left: 0;
    padding-right: 0;
}

#about dl {
    padding: 12px;
    font-size: 17px;
}

#about dd {
    text-transform: none;
}

.tabs .tab a {
    font-size: 17px;
    font-weight: 500;
    text-transform: none;
}

/* Abilities*/
.card-abilities {
    margin: 0;
    display: flex;
    justify-content: left;
}

.card-abilities dl {
    margin: 0;
    display: flex;
    gap: 0.35rem;
    font-size: 20px;
    color: var(--color-text-main);
}

.card-abilities dt {
    font-weight: 600;
}

.card-abilities dd {
    margin: 0;
    color: var(--color-text-main);
    text-transform: capitalize;
}

#stats canvas {
    margin-top: 12px;
    width: 100% !important;
    height: auto !important;
}

.modal footer {
    display: flex;
    justify-content: space-between;
    background: unset !important;
    flex-shrink: 0;
    margin-top: auto;
}

.btn-flat {
    color: var(--color-text-main);
    padding: 0;
}

.btn-flat i {
    font-size: 42px;
}

/* Dialog polyfill/fallback for browsers that don't fully support <dialog> */
.modal:not([open]) {
    display: none;
}

