.pagination {
    padding: 20px 0;
    text-align: center;
}

/* Targets all links (a) inside list items (li) within .pagination */
.pagination li a {
    color: var(--color-text-main);
    transition: font-size 0.2s ease-in-out;
    text-decoration: none;
}

.pagination li a:hover,
.pagination li a:focus {
    font-size: 180%;
}

.pagination li.disabled a {
    cursor: none;
    color: #666666;
    pointer-events: none;
}

.pagination li.active a {
    cursor: none;
    color: #666666;
    pointer-events: none;
}
