.pagination {
    padding: 20px 0;
    text-align: center;
}

/* Targets all links (a) inside list items (li) within .pagination */
.pagination li a {
    color: var(--color-text-main); /* Your main text color: #E0E0E0 */
    transition: font-size 0.2s ease-in-out; /* Smooth transition for hover effect */
    text-decoration: none; /* Removes the default link underline */
}

.pagination li a:hover,
.pagination li a:focus {
    font-size: 180%;
}

.pagination li.disabled a {
    cursor: none; /* Changes cursor to a default arrow */
    color: #666666; /* Your specified disabled color */
    pointer-events: none; /* Ensures the link is truly unclickable */   
}

.pagination li.active a {
    cursor: none; /* Changes cursor to a default arrow */
    color: #666666; /* Your specified disabled color */
    pointer-events: none; /* Ensures the link is truly unclickable */   
}
