.rudolph {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 

    width: 0; 
    height: 0;
    
    transform: translate(-50px, -50px);
    animation: run-only 5s linear 0s 1 normal; 
    animation-delay: 15s;
}

.rudolph-gif {
    width: 50px; 
    height: auto;
    display: block;
}

@keyframes run-only {
    0% {
        transform: translate(-50px, -50px); 
    }
    100% {
        transform: translate(calc(100vw + 50px), calc(100vh + 50px));
    }
}